.forecast-item {
  display: flex;
  justify-content: space-around;
}

.forecast-item img {
  width: 64px;
}

.weather-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.hidden {
  visibility: none;
}